<div class="card">
  <div class="card-header">
    <div class="card-body">
<!-- photo et information -->
      <%= image_tag @information.photos.variant(resize_to_fill: [200, 200]).processed, alt: @information.title %>
      <h1><%= @information.title %></h1>
      <p>Description: <%= @information.description %></p>

  <!-- création du bouton edit -->
      <div class="btn-show2">
        <%= link_to "Edit", edit_information_path(@information)%>
      </div>

<!-- bouton de supression -->
    <div class="btn-show1">
      <%= link_to "Delete",
        information_path(@information),
        data: {turbo_method: :delete, turbo_confirm: "Etes-vous sure?"}%>
    </div>
