<div class="mb">
  <h3>Produits</h3>
  <%= link_to "Ajouter un nouveau produit", new_product_path, class: "btn_index" %>
</div>
<div class="d-flex">
  <div class="row w-50">
    <% @products.each do |product| %>
      <div class="col-6 mx-auto">
        <%= link_to product_path(product) do %>
          <div class="card-category">
           <%= image_tag product.photos.variant(resize_to_fill: [200, 200]).processed, alt: product.name %>
              <p>Produit: <%= product.name %></p>
              <p>Prix: <%= product.price %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
