<h1>Liste des adhérents</h1>

<%= link_to "Ajouter un nouvel adhérent", new_member_path, class: "btn btn-primary" %>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Numéro Adhérent</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Adresse</th>
      <th>Téléphone</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= image_tag member.photo if member.photo.attached? %></td>
        <td><%= member.membership_number %></td>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.address %></td>
        <td><%= member.phone_number %></td>
        <td><%= member.email %></td>
        <td>
          <%= link_to 'Voir', member_path(member) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Réservations</h2>
<% if @bookings.any? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Utilisateur</th>
        <th>Produit</th>
        <th>Date</th>
        <th>Status</th> <!-- Ajout de la colonne Statut -->
        <th>Actions</th> <!-- Ajout de la colonne Actions -->
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.id %></td>
          <td><%= booking.user.email %></td>
          <td><%= booking.product.name %></td>
          <td><%= booking.date %></td>
          <td>
            <strong>Status de la réservation:</strong>
            <%= booking.accepted.nil? ? "En attente" : (booking.accepted ? "Acceptée" : "Refusée") %>
          </td>
          <td>
            <%= link_to "Voir la réservation", booking_path(booking) %>
            <!-- Ajouter d'autres actions si nécessaire -->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Aucune réservation trouvée.</p>
<% end %>

<h2>Services</h2>
<% if @services.any? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Utilisateur</th>
        <th>Service</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.id %></td>
          <td><%= service.user.email %></td>
          <td><%= service.name %></td>
          <td><%= service.date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Aucun service trouvé.</p>
<% end %>
