<h1><%= @member.first_name %> <%= @member.last_name %></h1>
<p><strong>Numéro Adhérent:</strong> <%= @member.membership_number %></p>
<p><strong>Adresse:</strong> <%= @member.address %></p>
<p><strong>Téléphone:</strong> <%= @member.phone_number %></p>
<p><strong>Email:</strong> <%= @member.email %></p>

<% if @member.photo.attached? %>
  <%= image_tag @member.photo %>
<% end %>
